<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="alto/create">
            <action class="org.opendaylight.alto.manager.AltoCreate"/>
        </command>

        <command name="alto/delete">
            <action class="org.opendaylight.alto.manager.AltoDelete"/>
        </command>

        <command name="alto/set">
            <action class="org.opendaylight.alto.manager.AltoSet"/>
        </command>
    </command-bundle>
</blueprint>
