**/*.checkstyle
**/*.swo
**/*.swp
**/logs
**/target
**/yang-gen-*
*.class
*.iml
*.ipr
*.iws
*.swp
*.old
*.bak
*.xmi
*~
.DS_STORE
.NERDTreeBookmarksFile
.classpath
.externalToolBuilders
.helper
.idea
.metadata
.project
.settings
.zsh*
MANIFEST.MF
bin/
classes
dist
eclimd.log
maven-eclipse.xml
out/
products
repository
target
target-ide
workspace
xtend-gen
yang-gen-code
yang-gen-config
yang-gen-sal
.ensime
.vscode
