<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="alto/file-yang2rfc">
      <action class="org.opendaylight.alto.ext.cli.fileconvertor.Yang2RFC"/>
    </command>

    <command name="alto/file-rfc2yang">
      <action class="org.opendaylight.alto.ext.cli.fileconvertor.RFC2Yang"/>
    </command>
  </command-bundle>
</blueprint>
